body{
	padding: 10em;
	align-items: center;
	background: #fff;
	color: #db0000;
	font-size: 100%;
	font-family: Helvetica;
	min-height: 80%;
}
a{
	color: #03a;
}
p{
	color: #333;
}
h1, h2{
	color: #07c;
	margin: 0;
	font-weight: lighter;
}
a:hover{
	opacity: 0.8;
}

#picture{
	margin: 0 auto;
	margin-top: 5%;
}
#description{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 6em;
	font-size: 1.3em;
}
#content{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 7.5%;
	font-size: 1.3em;
}
#contentFull{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0;
	font-size: 1.3em;
}
h1{
	font-size: 250%;
}
p{
	margin-top: 1.2em;
	margin-bottom: 0;
}
nav ul li{
	display: inline;
	padding: 0 .6em;
}
nav ul{
	margin-top: 1.2em;
	display: inline-block;
	padding: 0;
}

#projects{
	width: 100%;
	text-align: center;
}
.project{
	width: 80%;
	display: table;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: -2em;
	padding: 1em;
}
.img{
	display: table-cell;
	width: 32.5%;
	vertical-align: middle;
	padding: 1em;
}
.img img{
	border: 1px solid #333;
	width: 100%;
}
.text{
	vertical-align: middle;
	display: table-cell;
	width: 57.5%;
	text-align: left;
	padding: 1em;
}
.text p{
	margin: 0;
}
.text h2{
	font-size: 160%;
	margin: 0 0 .3em 0;
}

#rootLink{
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1ex 0;
	font-size: 125%;
	background: #e1e1e1;
	text-align: center;
}

#rootLink a{
	color: #888;
}

@media screen and (max-width: 900px) {
	body{padding: 7.5em 5%;}
}

@media screen and (max-width: 750px) {
	.img{display: none;}
	.text{width: 90%;}
}
@media screen and (max-width: 400px) {
	body{font-size: 80%; padding: 4em 5%;}
	#picture{font-size: 140%;}
}